<!-- добавляем элементы -->
<div class="container">
  <!-- контейнер калькулятора -->
  <fieldset id="container">
    <!-- общая форма -->
    <form name="calculator">

      <!-- элемент дисплея калькулятора -->
      <input id="display" type="text" name="display" value="{{result}}">

      <!-- кнопки верхнего ряда -->
      <!-- кнопка с цифрой 7 -->
      <input class="button digits" type="button" value="7" (click)="onDigitClick('7')">
      <!-- кнопка с цифрой 8 -->
      <input class="button digits" type="button" value="8" (click)="onDigitClick('8')">
      <!-- кнопка с цифрой 9 -->
      <input class="button digits" type="button" value="9" (click)="onDigitClick('9')">
      <!-- кнопка сложения -->
      <input class="button mathButtons" type="button" value="+" (click)="onDigitClick('+')">
      <br/>
      <!-- кнопки среднего ряда -->
      <!-- кнопка с цифрой 4 -->
      <input class="button digits" type="button" value="4" (click)="onDigitClick('4')">
      <!-- кнопка с цифрой 5 -->
      <input class="button digits" type="button" value="5" (click)="onDigitClick('5')">
      <!-- кнопка с цифрой 6 -->
      <input class="button digits" type="button" value="6" (click)="onDigitClick('6')">
      <!-- кнопка вычитания -->
      <input class="button mathButtons" type="button" value="-" (click)="onDigitClick('-')">
      <br/>
      <!-- кнопки нижнего ряда -->
      <!-- кнопка с цифрой 1 -->
      <input class="button digits" type="button" value="1" (click)="onDigitClick('1')">
      <!-- кнопка с цифрой 2 -->
      <input class="button digits" type="button" value="2" (click)="onDigitClick('2')">
      <!-- кнопка с цифрой 3 -->
      <input class="button digits" type="button" value="3" (click)="onDigitClick('3')">
      <!-- кнопка умножения -->
      <input class="button mathButtons" type="button" value="*" (click)="onDigitClick('*')">
      <br/>
      <!-- кнопки подвала -->
      <!-- кнопка сброса -->
      <input id="clearButton" class="button" type="button" value="C">
      <!-- кнопка с цифрой 0 -->
      <input class="button digits" type="button" value="0" (click)="onDigitClick('0')">
      <!-- кнопка математического оператора «равно» -->
      <input class="button mathButtons" type="button" value="=" (click)="onDigitClick('=')">
      <!-- кнопка деления / -->
      <input class="button mathButtons" type="button" value="/" (click)="onDigitClick('/')">
    </form>
  </fieldset>
</div>

<!-- история -->
<h1>История операция</h1>
<button (click)="onClearClick()">Очистить историю операций</button>
<table class="table" style="width: 100%">
  <thead>
  <tr>
    <th>pk</th>
    <th>number_1</th>
    <th>operator</th>
    <th>number_2</th>
    <th>result</th>
    <th>user</th>
    <th>date_create</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of history$ | async">
    <td>{{ item.pk }}</td>
    <td>{{ item.number_1 }}</td>
    <td>{{ item.operator }}</td>
    <td>{{ item.number_2 }}</td>
    <td>{{ item.result }}</td>
    <td>{{ item.user }}</td>
    <td>{{ item.date_create }}</td>
  </tr>
  </tbody>
</table>
